@import 'mixins';
@import 'card';

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(233, 47%, 7%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.attribution {
    position: fixed;
    bottom: 0;
    color: #fff;
    padding: .5em 0;

    a {
        color: hsl(277, 64%, 61%);
    }
}